@import url(//fonts.googleapis.com/css?family=Muli%3A300%2C400%2C400i%2C500%2C600%2C700%2C800&amp;display=swap&amp;ver=6bf7d9fac0ec26ca6de6da02d1c1de05);

body, html {
  margin: 0;
  padding: 0;
  font-family: Muli, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .main-header {
    padding: 80px 0 200px;
  }
  .main-content {
    flex: 1;
    background: #fff;
    padding-bottom: 80px;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}