@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-content__left {
      .nav-hero {
        font-size: 36px;
        font-family: 'Pacifico', cursive;
      }
    }
    .nav-content__right {
      display: block;
    }
  }
}